<%- include("./partials/header")  %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">To-Do-2Day</a>
</nav>

<div class="container mt-5">
    <form action="/add/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Enter Task">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item"><%= todos.todo %> 
            <!-- Change the link to a button and add an onclick handler to call deleteTodo function with todo._id -->
            <button onclick="deleteTodo('<%= todos._id %>')" class="btn btn-danger btn-sm">Delete</button>
        </li>

        <% }) %>

    </ul>
</div>



<script>
    function deleteTodo(todoId) {
        fetch('/delete/todo/' + todoId, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
            // If delete was successful, reload the page to update the todo list
            if (data.success) {
                location.reload();
            }
        });
    }
</script>

<%- include("./partials/footer")  %>